* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  // font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  background: #ececeb;
  button,
  input {
    // font-family: "Poppins", sans-serif;
  }
}
